/*css reset*/

html {
	font-size: 37.5px;
	width: 100%;
	height: 100%;
	/*position: relative;*/
}

html * {
	outline: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

body,
div,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
dl,
dd,
dt,
input,
span {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

li {
	list-style: none;
}

input,
select,
textarea {
	outline: none;
}

textarea {
	resize: none;
}

a {
	text-decoration: none;
	outline: none;
}

i,
em {
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}


/*reaet*/

.fl {
	float: left;
}

.fr {
	float: right;
}
.pr{
	position:relative;
}

/* display */

.dn {
	display: none;
}

.di {
	display: inline;
}

.db {
	display: block;
}

.dtc {
	display: table-cell;
}

.dib {
	display: inline-block;
	*display: inline;
	*zoom: 1
}


/* if the element is block level(eg. div, li), using 'inline_any' instead */

.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
	height: 0;
	clear: both;
	visibility: hidden;
}


/*color*/

.clightgray {
	color: #B5B5B5;
}
.cgray {
	color: #444444;
}
.cgray2{
	color: #898989;
}
.cgray3{
	color: #999999;
}
.cred {
	color: #FC3B00;
}
.corange{
	color: #fc8800;
}
.cblue{
	color:#0ea3f0;
}


.mt20 {
	margin-top: 0.2666666667rem;
}

.mt40 {
	margin-top: 0.5333333333rem;
}

.ml20 {
	margin-left: 0.2666666667rem;
}

.mb60 {
	margin-bottom: 0.8rem;
}

.mb75 {
	margin-bottom: 1.0rem;
}

.mb235{
	margin-bottom: 3.133333rem;
}
.mb135{
	margin-bottom:1.8rem;
}


/*font-size*/

.f24 {
	font-size: 0.32rem;
}

.f26 {
	font-size: 0.3466666667rem;
}

.f30 {
	font-size:0.4rem;
}
/*固定底部按钮*/
